fastapi
uvicorn[standard]
celery
redis
psycopg2-binary
sqlalchemy
alembic
python-multipart
pydantic
pydantic-settings

boto3

torch>=2.1.0
torchvision>=0.16.0
torchaudio>=2.1.0
timm
opencv-python
mediapipe
librosa
transformers
grad-cam
captum

ffmpeg-python
moviepy
hachoir
numpy
scikit-learn
loguru
Pillow
huggingface-hub
python-multipart
numpy
scipy
opencv-python