fastapi
uvicorn[standard]
celery
redis
psycopg2-binary
minio

torch==2.2.0
torchvision
timm
opencv-python
mediapipe
librosa
torchaudio
transformers
grad-cam
captum

ffmpeg-python
hachoir
numpy
scikit-learn
loguru
python-multipart
